@model MVC_School.Models.Course

@{
    ViewData["Title"] = "Create Course";
    Layout = "~/Views/Shared/_LayoutSecretary.cshtml";
}

<h1>Create Course</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCourse " class="control-label"></label>
                <input asp-for="IdCourse" class="form-control" min="0" max="9999" />
                <span asp-validation-for="IdCourse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseTitle " class="control-label"></label>
                <input asp-for="CourseTitle" class="form-control" />
                <span asp-validation-for="CourseTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseSemester" class="control-label"></label>
                <input asp-for="CourseSemester" class="form-control" />
                <span asp-validation-for="CourseSemester" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-controller="Home" asp-action="Secretary" asp-route-id="@ViewData["Phone_Number"]">Back to Home Page</a>
</div>