@model MVC_School.Models.Professor

@{
    ViewData["Title"] = "Create Professor";
    Layout = "~/Views/Shared/_LayoutSecretary.cshtml";
}

<h1>Create Professor</h1>

<h4>Professor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProfessor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Afm" class="control-label"></label>
                <input asp-for="Afm" class="form-control" min="0" max="999999999" />
                <span asp-validation-for="Afm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" value="@ViewData["Department"]" readonly />
            </div>
            <div class="form-group">
                <label asp-for="UsersUsernameNavigation.Username" class="control-label"></label>
                <input asp-for="UsersUsernameNavigation.Username" class="form-control" />
                <input type="hidden" asp-for="UsersUsername" class="form-control" value="-"/>
                <span asp-validation-for="UsersUsernameNavigation.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsersUsernameNavigation.Password" class="control-label"></label>
                <input type="password" asp-for="UsersUsernameNavigation.Password" class="form-control" />
                <span asp-validation-for="UsersUsernameNavigation.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UsersUsernameNavigation.Role" class="form-control" value="professor" />
            </div>                      
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-controller="Home" asp-action="Secretary" asp-route-id="@ViewData["Phone_Number"]">Back to Home Page</a>
</div>